[submodule ".config/suckless"]
	path = .config/suckless
	url = git@github.com:kelvin-van-vuuren/suckless.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:kelvin-van-vuuren/nvim.git
